In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import datetime
import numpy as np

In [2]:
data = []

In [3]:
date = datetime.datetime(2016,1,1)

const = 42370

for i in range(74) :
    
    date = date + datetime.timedelta(days=1)
    const = const+1
    year = date.year
    month = date.month
    day = date.day
    url = "https://economictimes.indiatimes.com/"+str(date.year)+"/"+str(date.month)+"/"+str(date.day)+"/archivelist/year-"+str(date.year)+",month-"+str(date.month)+",starttime-"+str(const)+".cms"
  
    r = requests.get(url) 
   
    soup = BeautifulSoup(r.content, 'html5lib')

    links = soup.find_all("table",{'cellpadding' : "0"})

    soup1 = links[0]
    soup2 = links[1]
    

for a in soup1.find_all('a'):
    row = [year, month, day, a.get_text()]
    data.append(row)
    for a in soup2.find_all('a') :
        row = [year, month, day, a.get_text()]
        data.append(row)


    if (i%100 == 0):
        print(f"---- {i} ----")

In [4]:
data1= np.array(data)

In [5]:
data1.shape

(1329, 4)

In [6]:
Edataset = pd.DataFrame(data1)

In [7]:
Edataset.columns = ['year','month','day','headlines']

In [8]:
Edataset

      year month day                                          headlines
0     2016     3  15                                           Archives
1     2016     3  15     Turmeric may rise to Rs 110 a kg, say analysts
2     2016     3  15  Valuation of exchange relies on its regulatory...
3     2016     3  15  US Federal Reserve should perhaps maintain sti...
4     2016     3  15  Barack Obama calls for mobilising world to mee...
...    ...   ...  ..                                                ...
1324  2016     3  15  Narendra Modi keeping mum over presence of Chi...
1325  2016     3  15  Rajya Sabha MP Palvai Govardhan Reddy urges PM...
1326  2016     3  15  'HRD Ministry agrees to making ITI course equi...
1327  2016     3  15  Nasscom to set up warehouse in Vizag under sta...
1328  2016     3  15  BJP the most 'anti-intellectual' party: Ramcha...

[1329 rows x 4 columns]

In [9]:
Edataset.to_csv(r"C:\Users\Sumain\Desktop\gitu\Edataset2016.xml",index=True)