In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import datetime
import numpy as np

In [2]:
data = []

In [3]:
date = datetime.datetime(2021,1,1)

const = 44197

for i in range(74) :
    
    date = date + datetime.timedelta(days=1)
    const = const+1
    year = date.year
    month = date.month
    day = date.day
    url = "https://economictimes.indiatimes.com/"+str(date.year)+"/"+str(date.month)+"/"+str(date.day)+"/archivelist/year-"+str(date.year)+",month-"+str(date.month)+",starttime-"+str(const)+".cms"
  
    r = requests.get(url) 
   
    soup = BeautifulSoup(r.content, 'html5lib')

    links = soup.find_all("table",{'cellpadding' : "0"})

    soup1 = links[0]
    soup2 = links[1]
    

for a in soup1.find_all('a'):
    row = [year, month, day, a.get_text()]
    data.append(row)
    for a in soup2.find_all('a') :
        row = [year, month, day, a.get_text()]
        data.append(row)


    if (i%100 == 0):
        print(f"---- {i} ----")

In [4]:
data1= np.array(data)

In [5]:
data1.shape

(1359, 4)

In [6]:
Edataset = pd.DataFrame(data1)

In [7]:
Edataset.columns = ['year','month','day','headlines']

In [8]:
Edataset

      year month day                                          headlines
0     2021     3  16                                           Archives
1     2021     3  16  Lender Indiabulls Hsg sells Rana Kapoor’s prop...
2     2021     3  16  After uproar, Haryana govt seeks industry take...
3     2021     3  16  Coronavirus surge: Maharashtra tightens curbs,...
4     2021     3  16  Second phase of vaccination drive may be over ...
...    ...   ...  ..                                                ...
1354  2021     3  16  Guwahati high court provides liberty to tea es...
1355  2021     3  16  India & Bangladesh agree to expand co-operatio...
1356  2021     3  16  In poll-bound Kerala, wages remained unchanged...
1357  2021     3  16  No direct LAC reference in Quad Joint Statemen...
1358  2021     3  16  Buttler trumps Virat Kohli, England beat India...

[1359 rows x 4 columns]

In [9]:
Edataset.to_csv(r"C:\Users\Sumain\Desktop\gitu\Edataset2021.xml",index=True)