In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import datetime
import numpy as np

In [2]:
data = []

In [26]:
date = datetime.datetime(2015,1,1)

const = 42005

for i in range(74) :
    
    date = date + datetime.timedelta(days=1)
    const = const+1
    year = date.year
    month = date.month
    day = date.day
    url = "https://economictimes.indiatimes.com/"+str(date.year)+"/"+str(date.month)+"/"+str(date.day)+"/archivelist/year-"+str(date.year)+",month-"+str(date.month)+",starttime-"+str(const)+".cms"
  
    r = requests.get(url) 
   
    soup = BeautifulSoup(r.content, 'html5lib')

    links = soup.find_all("table",{'cellpadding' : "0"})

    soup1 = links[0]
    soup2 = links[1]
    

for a in soup1.find_all('a'):
    row = [year, month, day, a.get_text()]
    data.append(row)
    for a in soup2.find_all('a') :
        row = [year, month, day, a.get_text()]
        data.append(row)


    if (i%100 == 0):
        print(f"---- {i} ----")

In [27]:
data1= np.array(data)

In [28]:
data1.shape

(1806, 4)

In [29]:
Edataset = pd.DataFrame(data1)

In [30]:
Edataset.columns = ['year','month','day','headlines']

In [31]:
Edataset

      year month day                                          headlines
0     2015     3  16                                           Archives
1     2015     3  16  AAP to launch stir against land bill in Uttar ...
2     2015     3  16  Church under construction razed in Haryana's H...
3     2015     3  16  India could face a selloff if US federal reser...
4     2015     3  16  Government holds back awarding 5 coal blocks f...
...    ...   ...  ..                                                ...
1801  2015     3  16    T V Somanathan appointed Joint Secretary in PMO
1802  2015     3  16  Delhi government orders steps to check rise of...
1803  2015     3  16  Supreme Court to hear plea against transfer of...
1804  2015     3  16  Ease of doing business talk must move beyond r...
1805  2015     3  16                       Minor fire in Shastri Bhavan

[1806 rows x 4 columns]

In [35]:
Edataset.to_csv(r"C:\Users\Sumain\Desktop\gitu\Edataset2016.xml",index=True)