In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import datetime
import numpy as np

In [2]:
data = []

In [3]:
date = datetime.datetime(2018,1,1)

const = 43101

for i in range(74) :
    
    date = date + datetime.timedelta(days=1)
    const = const+1
    year = date.year
    month = date.month
    day = date.day
    url = "https://economictimes.indiatimes.com/"+str(date.year)+"/"+str(date.month)+"/"+str(date.day)+"/archivelist/year-"+str(date.year)+",month-"+str(date.month)+",starttime-"+str(const)+".cms"
  
    r = requests.get(url) 
   
    soup = BeautifulSoup(r.content, 'html5lib')

    links = soup.find_all("table",{'cellpadding' : "0"})

    soup1 = links[0]
    soup2 = links[1]
    

for a in soup1.find_all('a'):
    row = [year, month, day, a.get_text()]
    data.append(row)
    for a in soup2.find_all('a') :
        row = [year, month, day, a.get_text()]
        data.append(row)


    if (i%100 == 0):
        print(f"---- {i} ----")

In [4]:
data1= np.array(data)

In [5]:
data1.shape

(837, 4)

In [6]:
Edataset = pd.DataFrame(data1)

In [7]:
Edataset.columns = ['year','month','day','headlines']

In [8]:
Edataset

     year month day                                          headlines
0    2018     3  16                                           Archives
1    2018     3  16  7 ministers win Rajya Sabha elections unoppose...
2    2018     3  16  Chandrababu Naidu likely to withdraw support t...
3    2018     3  16  Buddhist programme: No Bengal government repre...
4    2018     3  16  Dalai Lama event: Not Delhi or Dharamsala stad...
..    ...   ...  ..                                                ...
832  2018     3  16  Yeddyurappa's much-hyped "Breaking News" ends ...
833  2018     3  16           India-Pakistan sparring rings a new bell
834  2018     3  16  Aviation Ministry looks at chopper services in...
835  2018     3  16  FIR likely against UP builders for giving poss...
836  2018     3  16  Apart from Taj, other monuments in Agra may so...

[837 rows x 4 columns]

In [9]:
Edataset.to_csv(r"C:\Users\Sumain\Desktop\gitu\Edataset2018.xml",index=True)